
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');
*{
    font-family: 'Kanit' , sans-serif;
}



.mainframe{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index:30;
    background-color: rgba(0,0,0, 0.686);
   
  
}

.up{
      display: flex; 
    margin: 9% 10% 10% 15%;
     flex-direction: column;
    border: 1px solid #fff; 
    border-radius: 3rem;
    height: 70%;
    width: 65%;
    /* top: 20%;  */
    background-color: white;
    
}
    .up h1{
        margin: 20px;
        color: rgb(78, 23, 78);
        font-size: 24;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        
    }
.entry{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}
.specialinput{
    width: 90%;
    height:3rem;
    border:none;
    border-bottom: 1px solid rgb(83, 4, 83);
    color:rgb(39, 30, 39);
    background: url(../../img/calendar.svg) no-repeat right;
    background-size: 20px;

}

input{
    width: 90%;
    height:3rem;
    border:none;
    border-bottom: 1px solid rgb(83, 4, 83);
    color:rgb(39, 30, 39);
  
}
label{
    color: rgb(32, 23, 32);
    font-size: 15px;
}

  .form1{
     display: flex;
     width: 50%;
     flex-direction: column;
     margin-top: 2rem;
     margin-left: 2rem;

 }
 .form2{
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
     margin-right: 1rem;
     margin-left: 2rem;
     width: 50%;
 }
.upload{
    display: flex;
    flex-direction: row;
    width: 90%;

}
::placeholder{
    color: rgb(66, 4, 66);
    font-weight:300;
    size: 16px;
}
.upload button{
    background-color: rgb(79, 250, 170);
    color: white;
    width: 7rem;
    font-weight: 600;
    border: none;
    height: 2rem;
    margin-top: 15px;
    right: 8;

    
}
 .forms{
    display: flex;
    flex-direction: row;
 }

 .maincolor{
     color: rgb(58, 85, 104);
     font-weight: 500;
     background-color: rgb(108, 128, 141);
     border: none;
     border-radius: 10px;
     width: 12rem;
     height: 4rem;
     margin-top: 2rem;
     margin-left: 15rem;

 }
 .bus{
     display: flex;
     flex-direction: row;
     margin-top: 3rem;
     /* margin:10rem;    */


 }
 .generateNow{
     /* width:6rem; */
     height: 2rem;
     border: none;
     border-radius:5px;
     color: white;
     background-color: rgb(0, 132, 255);
     margin-right: 1rem;    
     font-weight: 600; 
 }
 .forLater{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius:5px;
    color: white;
    background-color: rgb(58, 204, 94);
    font-weight: 600;

}
.delete{
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius:20px;
    color: white;
    background-color: rgb(204, 87, 58);
    font-weight: 600;
    margin-left: 2rem;
    

}
.new img{
     width: 30px;
     height: 30px;
     border-radius: 0;
     
 }