.mainframe{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index:30;
    background-color: rgba(0,0,0, 0.686);
   
  
}

.popup{
    display: flex;
    margin: 5% 10% 15% 30%;
    flex-direction: column;
    border: 1px solid #fff;
    /* border-radius: 1rem; */
    height: 75%;
    justify-content: center;
    
    width: 30%;
    top: 20%;
    background-color: white;

}
img{
    width:90%;
    height: 80%;
    margin-left: 5%;
    border-radius: 10px;
}
.buttons{
     justify-content: center;
     align-items: center;
     margin-left: 20%;
     margin-top: 2%;
}
.download{
    width: 8rem;
    height: 3rem;
    color: white;
    border: none;
    background-color: rgb(12, 107, 197);
    border-radius: 10px;
    margin-right: 15%;
    
}
.copy{
    width: 8rem;
    height:3rem;
    background-color: rgb(56, 52, 52);
     color: white;
     border: none;
     border-radius: 10px;
        
}